{% load staticfiles %}
<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<script type="text/javascript" src="{% static 'js/jquery-2.1.4.js' %}"></script>
	<script type="text/javascript" src="{% static 'js/forge.bundle.js' %}"></script>
	<script type="text/javascript" src="{% static 'js/sirs.js' %}"></script>
	<script type="text/javascript" src="{% static 'js/common.js' %}"></script>
	<title>SIRS - {% block title %}Base{% endblock %}</title>
</head>
<body>
	{% block content %}{% endblock %}
</body>
</html>